/# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Finder
.AppleDouble
.LSOverride

# Thumbnails
._*

# virtuelle Umgebung
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class


# VS Code
.vscode/

# JetBrains
.idea/

# Lokal erzeugte Kalenderdateien
build/
